<mat-toolbar class="orange-navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>token</mat-icon>
    </button>
    <span>Safe and Found</span>
    <span class="example-spacer"></span>

     <a [routerLink]="'/all_posts'"><button mat-icon-button class="example-icon">
      <mat-icon>search</mat-icon>
    </button></a>
    <button mat-icon-button class="example-icon">
        <mat-icon>add_circle</mat-icon>
      </button>

      <a [routerLink]="'/'">
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
      </a>

      <a [routerLink]="'/login'">
        <button mat-icon-button>
            <mat-icon>login</mat-icon>
        </button>
      </a>
  </mat-toolbar>