<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <h1 class="text-center">Login to your account !</h1>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="fill">
                       <!--{{loginData | json}} -->
                        <mat-label>Username</mat-label>
                        <input
                        [(ngModel)]="loginData.username"
                        required 
                        name="username"
                        matInput placeholder="Enter your username">
                    </mat-form-field>

                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input
                        required  
                        [(ngModel)]="loginData.password"
                        type="password" 
                        name="password"
                        matInput placeholder="Enter your password">
                      </mat-form-field>

                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
